/* ===============
	WPAPPER
=============== */

// $base-wrapper-width: 1440px;
$base-wrapper-width: 100%;
$wrapper-offset: $base-spacing-unit;

.o-wrapper {
  max-width: $base-wrapper-width;
  position: relative;
}
